{
  "log": {
    "_recordingName": "fetchOrganizations",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "33d5f8c274a0e47d7b2dda729857cac9",
        "request": {
          "headers": [
            {
              "name": "x-cisco-meraki-api-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.meraki.com/api/v0/organizations"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 109,
            "text": "<html><body>You are being <a href=\"https://n58.meraki.com/api/v0/organizations\">redirected</a>.</body></html>"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            },
            {
              "name": "location",
              "value": "https://n58.meraki.com/api/v0/organizations"
            },
            {
              "name": "sunset",
              "value": "2022-02-05T23:59:59Z"
            },
            {
              "name": "deprecation",
              "value": "2020-08-05T23:59:59Z"
            },
            {
              "name": "link",
              "value": "<https://developer.cisco.com/meraki/api-v1/#!versioning>; rel=\"deprecation\"; type=\"text/html\", <https://n46.meraki.com/api/v1/organizations>; rel=\"successor-version\"; type=\"application/json\""
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 1416,
      },
      {
        "_id": "fe27b5945669249a406c96a2082bc012",
        "request": {
          "headers": [
            {
              "name": "x-cisco-meraki-api-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://n58.meraki.com/api/v0/organizations"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 275,
            "text": "[{\"id\":\"595601050719780713\",\"name\":\"SP Playground\",\"url\":\"[REDACTED]\",\"samlConsumerUrl\":\"[REDACTED]\",\"samlConsumerUrls\":[\"[REDACTED]\"]}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "sunset",
              "value": "2022-02-05T23:59:59Z"
            },
            {
              "name": "deprecation",
              "value": "2020-08-05T23:59:59Z"
            },
            {
              "name": "link",
              "value": "<https://developer.cisco.com/meraki/api-v1/#!versioning>; rel=\"deprecation\"; type=\"text/html\", <https://n58.meraki.com/api/v1/organizations>; rel=\"successor-version\"; type=\"application/json\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 416,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
