{
  "log": {
    "_recordingName": "fetchOrganizations",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "50555a53fbe65b850d2b629a76bc04eb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-cisco-meraki-api-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.meraki.com/api/v1/organizations"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 109,
            "text": "<html><body>You are being <a href=\"https://n58.meraki.com/api/v1/organizations\">redirected</a>.</body></html>"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            },
            {
              "name": "location",
              "value": "https://n58.meraki.com/api/v1/organizations"
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 1570,
      },
      {
        "_id": "6f49d1fe4b5b6053a4c0f8bd3b6a185b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-cisco-meraki-api-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://n58.meraki.com/api/v1/organizations"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 332,
            "text": "[{\"id\":\"595601050719780713\",\"name\":\"SP Playground\",\"url\":\"[REDACTED]\",\"samlConsumerUrl\":\"[REDACTED]\",\"samlConsumerUrls\":[\"[REDACTED]\"],\"api\":{\"enabled\":true},\"licensing\":{\"model\":\"per-device\"},\"cloud\":{\"region\":{\"name\":\"North America\"}}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 404,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
